<a href="https://colab.research.google.com/github/la-elias/Hackathon2020/blob/master/Clasificacion_genero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#
#Librerias
import pandas as pd
import numpy as np
import re
import math
import requests
import time
from tqdm import tqdm, trange
from time import sleep
from bs4 import BeautifulSoup
import urllib.request 
import pandas as pd
import io
import requests
#import spacy

In [3]:
letras= list(range(0,9900,150))#Number of pages 258
for letra in letras:
    url='https://www.buenosaires.gob.ar/areas/registrocivil/nombres/busqueda/buscador_nombres.php?offset={}&menu_id=16082'.format(letra)
    s=requests.get(url).content
    c=pd.read_html(io.StringIO(s.decode('ISO-8859-1')))
    df=c[0]
    #new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    #df.columns = new_header
    df.to_csv('nombres/''nombre'+str(letra)+'.csv')

In [4]:
ad=pd.read_csv('nombres/''nombre0.csv')
ad.tail()

     Unnamed: 0  ...                                          Nombres.3
296       296.0  ...                                                NaN
297       297.0  ...                                                NaN
298       298.0  ...                                                NaN
299       299.0  ...                                                NaN
300       300.0  ...  Listado de nombres aprobados por el Registro C...

[5 rows x 5 columns]

In [5]:
female=ad[ad['Nombres.1']=='F']
female=female['Nombres']
male=ad[ad['Nombres.1']=='M']
male=male['Nombres']
male.to_csv('male_.csv')
female.to_csv('female_.csv')

In [6]:
import random 
import nltk
nltk.download('names')
from nltk.corpus import names 
import nltk 
  
def gender_features(word): 
    return {'last_letter':word[-1]} 
  
# preparing a list of examples and corresponding class labels. 
labeled_names = ([(name, 'male') for name in names.words('male.txt')]+
             [(name, 'female') for name in names.words('female.txt')]) 
  
random.shuffle(labeled_names) 
  
# we use the feature extractor to process the names data. 
featuresets = [(gender_features(n), gender)  
               for (n, gender)in labeled_names] 
  
# Divide the resulting list of feature 
# sets into a training set and a test set. 
train_set, test_set = featuresets[7000:], featuresets[:6000] 
  
# The training set is used to  
# train a new "naive Bayes" classifier. 
tree = nltk.DecisionTreeClassifier.train(train_set)
naive= nltk.NaiveBayesClassifier.train(train_set)
classifier = nltk.NaiveBayesClassifier.train(train_set)

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.

In [7]:
nltk.download('names')
nltk.download('punkt')
from nltk.tokenize import MWETokenizer

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Package names is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [8]:
print(nltk.classify.accuracy(tree, test_set))

0.7465

In [9]:
print(nltk.classify.accuracy(naive, test_set))

0.7438333333333333

In [10]:
naive.classify(gender_features('Adriano'))

'male'

In [13]:
df=pd.read_csv("Minagri_20196.csv")
df

      PK_ID_PERSONAL  ...                FEC_REG
0           34189666  ...   3/13/2019 8:58:59 AM
1           36895401  ...        8/12/2019 09:40
2           36895402  ...        8/12/2019 09:40
3           36895403  ...        8/12/2019 09:40
4           36895404  ...        8/12/2019 09:40
...              ...  ...                    ...
4608        37036513  ...  8/14/2019 10:54:17 AM
4609        37036514  ...  8/14/2019 10:54:17 AM
4610        37036515  ...  8/14/2019 10:54:17 AM
4611        37036516  ...  8/14/2019 10:54:17 AM
4612        37036517  ...  8/14/2019 10:54:17 AM

[4613 rows x 18 columns]

In [14]:
db=pd.read_csv('Minagri_20196.csv')

In [15]:
x=[]
for i in range(0,len(db['VC_PERSONAL_NOMBRES'])):
    tokenizer = MWETokenizer()
    a=tokenizer.tokenize(db['VC_PERSONAL_NOMBRES'][i].split())
    x.append(a[0].lower())
b=[]
for i in range(0,len(x)):
    a=classifier.classify(gender_features(x[i]))
    b.append(a)
db['gender']=b
db['gender'].head()

0      male
1    female
2    female
3    female
4    female
Name: gender, dtype: object

In [16]:
print(nltk.classify.accuracy(naive, test_set))

0.7438333333333333

In [17]:
#names.to_csv('names_label.csv')
db.describe(include='all')

        PK_ID_PERSONAL  VC_PERSONAL_RUC_ENTIDAD  ...                FEC_REG  gender
count     4.613000e+03             4.613000e+03  ...                   4613    4613
unique             NaN                      NaN  ...                     16       2
top                NaN                      NaN  ...  8/14/2019 10:54:13 AM  female
freq               NaN                      NaN  ...                    958    2618
mean      3.703247e+07             2.013137e+10  ...                    NaN     NaN
std       4.272199e+04             0.000000e+00  ...                    NaN     NaN
min       3.418967e+07             2.013137e+10  ...                    NaN     NaN
25%       3.703306e+07             2.013137e+10  ...                    NaN     NaN
50%       3.703421e+07             2.013137e+10  ...                    NaN     NaN
75%       3.703536e+07             2.013137e+10  ...                    NaN     NaN
max       3.703652e+07             2.013137e+10  ...                    NaN     NaN

[11 rows x 19 columns]

In [18]:
db=db[['IN_PERSONAL_ANNO', 'IN_PERSONAL_MES', 'VC_PERSONAL_REGIMEN_LABORAL',
       'VC_PERSONAL_CARGO', 'VC_PERSONAL_DEPENDENCIA',
       'MO_PERSONAL_REMUNERACIONES', 'MO_PERSONAL_HONORARIOS',
       'MO_PERSONAL_INCENTIVO', 'MO_PERSONAL_GRATIFICACION',
       'MO_PERSONAL_OTROS_BENEFICIOS', 'MO_PERSONAL_TOTAL',
       'VC_PERSONAL_OBSERVACIONES', 'FEC_REG', 'gender']]
#db.to_csv('presidencia2019_.csv')
db.to_csv('Minagri_0201906.csv')

In [19]:
dq=pd.read_csv('Minagri_0201906.csv')
len(dq)

4613

In [20]:
db=db[['IN_PERSONAL_MES','VC_PERSONAL_REGIMEN_LABORAL','gender']]
#db.astype(int)

In [21]:
#ad=pd.read_csv('presidencia20190')
#db['IN_PERSONAL_MES']=db['IN_PERSONAL_MES'].astype(int)#.tail()
#db['VC_PERSONAL_REGIMEN_LABORAL']=list(db['VC_PERSONAL_REGIMEN_LABORAL'])
#type(db['IN_PERSONAL_MES'])

In [22]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

labels = ['1', '2', '3', '4', '5','6','7','8','9']
men = db[db['gender']=='male']
women = db[db['gender']=='female']
women.columns#head()

Index(['IN_PERSONAL_MES', 'VC_PERSONAL_REGIMEN_LABORAL', 'gender'], dtype='object')